---
import { Image } from 'astro:assets';
import strftime from 'strftime';

const {
  fileName,
  councilCode,
  councilName,
  collectionDate,
  contributorHandle,
  contributorURL,
  slug,
  retroName,
} = Astro.props;

const date = strftime('%d %B %Y', collectionDate);
---

<a href={`/${slug}`}>
  <!-- <a class="block sm:pb-10"> -->
  <Image src={fileName} alt={councilName || retroName} />

  <div class="metadata">
    <h3 class="" data-local-authority-eng={councilCode}>
      {councilName}
    </h3>
    <div class="font-sans font-light text-xl contribution">
      <p>{date}</p>
      {
        contributorHandle && contributorURL ? (
          <p>
            <a class="contributor" href={contributorURL}>
              {contributorHandle}
            </a>
          </p>
        ) : (
          <p>{contributorHandle}</p>
        )
      }
    </div>
  </div>
  <!-- </a> -->
</a>

<style>
  img {
    height: auto;
  }
  .metadata {
    display: none;
    padding: 1rem;

    h3 {
      margin-bottom: 0.25rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  .contributor {
    text-decoration: underline;
    text-decoration-color: #ea47cb;
  }

  @media (min-width: 576px) {
    .metadata {
      display: block;
    }
  }
</style>
